<button type="{{type}}" class="
        mainButton mainButton_variant_{{variant}} 
        mainButton_fill_{{fill}} 
        {{#if align}}mainButton_align_{{align}}{{/if}} 
        {{#if asIconButton}}mainButton_with-icon-only{{/if}} 
        {{#if iconLast}}mainButton_icon-last{{/if}}
    ">
    {{#if icon}}
        <div class="mainButton__icon">
            {{> Icon icon=icon }}
        </div>
    {{/if}}
    {{text}}
</button>
