{{!--
text: string
variant: primary medium success danger
fill: solid outline link ghost
align: left center right; center - default
icon: check icons/icons.hbs, pass an symbol id without "-ico"
iconLast: boolean
asIconButton: boolean - get rounded icon button
--}}

<button type="{{type}}" class="
        mainButton mainButton_variant_{{variant}} 
        mainButton_fill_{{fill}} 
        {{#if align}}mainButton_align_{{align}}{{/if}} 
        {{#if asIconButton}}mainButton_with-icon-only{{/if}} 
        {{#if iconLast}}mainButton_icon-last{{/if}}
    ">
    {{#if icon}}
        <div class="mainButton__icon">
            {{> Icon size=24 icon=icon }}
        </div>
    {{/if}}
    {{text}}
</button>