<div style="width: {{size}}px; height: {{size}}px; {{#if color}}color: var(--color-{{color}}){{/if}}">
    <svg width="{{size}}" height="{{size}}">
        <use xlink:href="#{{icon}}-ico"/>
    </svg>
</div>